@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300&family=Raleway:wght@200&display=swap');

* {
    margin: 0 auto;
    padding: 0;
}

img {
    width: 50px;
    height: 50px;


}

h1 {
    font-family: Oswald;
    font-size: 50px;
    color: white;
    margin-top: 50px;

}

p {
    padding: 10px;
    margin-top: 30px;
}

body {
    background-image: linear-gradient(to right, aqua, purple, blue);
    text-align: center;
    color: white;
    font-family: Raleway;
    font-size: 15px;


}

input[placeholder] {
    font-weight: bolder;
    font-size: 16px;
   
}

#email {
    font-family: Quicksand;
    padding: 10px;
    max-width: 400px;
    width: 90%;
}

#suscribeBtn {
    background-color: blue;
    border: 1px solid blue;
    color: white;
    font-size: 15px;
    font-family: Quicksand;
    padding: 10px;

}

#BackBtn {
    margin: 150px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}