* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background-color: #e6e6e6;
}

.card {
  width: 400px;
  margin: 75px auto 0;
  background-color: #ffff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
  text-align: center;
  font-size: 16px;
}

img .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  top: 50px;
  left: 50%;
  border: 6px solid #ffff;
}

h1{
  font-size: 1.3em;
  line-height: 2em;
}

p{
  line-height: 1.5em;

}
.socialmedia img{
  width: 30px;
  margin: 15px;
  transition:all 3s ;
  
}